* {
    background: #1F2544;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 145%;
    font-style: normal;
}

.logo {

    padding-top: 10px;
    padding-left: 10px;
    width: 6%;
}

main {

    display: flex;
    align-items: center;
    padding: 5% 2%;
    justify-content: space-between;
    gap: 15px;
    width: auto;
    height: auto;
}

.text-area {

    border: none;
    resize: none;
    color: #FFD0EC;
    margin-top: 10px;
    text-transform: lowercase;
}
::placeholder {color: #1F2544;}
    .text-area:focus {
        outline: none;
    }

.text-area-mensaje {

    background: #474F7A;
    border: none;
    resize: none;
    border-radius: 24px;
    color: #FFD0EC;
    margin-left: 60px;
    margin-top: 10px;
    padding-left: 20px;
    position: relative;
}
.text-area-mensaje:focus {
    outline: none;
}

.informacion {

    color: #7F669D;
    font-size: 0.5rem;
}

.botones {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.btn-encriptar {

    background: #67729D;
    border: 1px solid #67729D;
    border-radius: 24px;
    color: #FFD0EC;
    cursor: pointer;
    height: 50px;
    margin-left: 12px;
    width: 200px; 
}

.btn-desencriptar {

    background: #474F7A;
    border: 1px solid #474F7A;
    border-radius: 24px;
    color: #FFD0EC;
    cursor: pointer;
    height: 50px;
    margin-left: 12px;
    width: 200px;
}

.copiar {

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: relative;
}

.btn-copiar {

    background: #57375D;
    border: 1px solid #57375D;
    border-radius: 24px;
    color: #FFD0EC;
    cursor: pointer;
    height: 50px;
    margin-left: 12px;
    width: 200px;
}

.footer {

    background: #2E236C;
    color: #987D9A;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
}

@media (min-width: 400px) and (max-width: 1200px) {
    
    .header {
        padding: 2%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25%;
        width: auto;
        height: auto;
    }
}